body {
  /* background-color: lightgray; */
}

.inner_contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #ec607a;
  width: 100%;
  height: 100px;
  position: relative;
}

header #logo {
  /* background-color: darkcyan; */
  width: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo h1 {
  font-size: 48px;
  font-weight: bold;
  /* cursor: pointer; */
}

header #menu {
  width: 240px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 40px;
}

header #menu ul {
  width: 340px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
}

header #menu li {
  background-color: cornsilk;
  width: 80px;
  height: 100%;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
  padding: 10px 2px;
  cursor: pointer;
}

header #menu li:nth-of-type(2) span {
  font-weight: bold;
}

header #menu li#mypageLi {
  padding: 0;
}

header #menu li #mypageBtn {
  background-color: inherit;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

section:nth-of-type(1) {
  width: 100%;
  height: 480px;
  padding: 40px;
}

.swiper-container {
  text-align: center;
}

section div#pro_list {
  /* background-color: lightseagreen; */
  width: 100%;
  height: 500px;
}

section div#pro_list > ul {
  /* background-color: lightsteelblue; */
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div#pro_list > ul > li {
  width: 23%;
  border-radius: 8px;
  margin-bottom: 10px;
}

section div#pro_list > ul > li p {
  text-align: center;
  margin-top: 8px;
}

section div#pro_list > ul > li p img {
  width: 95%;
  height: 120px;
  border-radius: 16px;
}

section div#pro_list > ul > li p:nth-of-type(2) {
  font-size: 20px;
  font-weight: bold;
}

section div#pro_list > ul > li p:nth-of-type(3) {
  background-color: #ffbb7b;
  width: 80%;
  margin: 0 auto;
  margin-top: 4px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
}

section div#pro_list > ul > li > div {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section div#pro_list > ul > li > div div:first-child {
  background-color: #ffbff4;
  width: 45%;
  padding: 10px 0;
  border-radius: 10px;
}

section div#pro_list > ul > li > div div:nth-child(2) {
  background-color: #dfcef8;
  width: 45%;
  padding: 10px 0;
  border-radius: 10px;
}

section .btns {
  margin-top: 50px;
  text-align: center;
}

section .btns button {
  width: 80px;
  height: 60px;
  cursor: pointer;
}

section:nth-of-type(2) {
  width: 100%;
  padding: 40px;
  border-radius: 0 0 6px 16px;
}

section#login h1 {
  text-align: center;
}

section#login table {
  border-collapse: collapse;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

section#login table, section#login td {
  border: 1px solid #ccc;
}

section#login td {
  padding: 16px;
}

section#login #loginBtnDiv {
  background-color: lightblue;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

section#login #loginBtnDiv button {
  width: 100%;
  height: 100%;
}

section#login #register {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

section#login button {
  cursor: pointer;
}

section#register-wrap input {
  width: 300px;
  text-align: center;
}

section#register-wrap h1 {
  text-align: center;
}

section#register-wrap table {
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto;
  /* text-align: center; */
}

section#register-wrap table, section#register-wrap td {
  border: 1px solid #ccc;
}

section#register-wrap td {
  padding: 16px;
}

footer {
  padding: 20px;
}

footer div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
