body {
    /* background-color: lightgray; */
}

.inner_contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    background-color: rgb(203, 223, 130);
    width: 100%;
    height: 100px;
    
    .inner_contents {
        position: relative;
        height: 100%;
    }
    #logo {
        width: 320px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
        font-size: 48px;
        font-weight: bold;
        }
    
    }

    #menu {
        // background-color: darksalmon;
        width: 240px;
        height: 40px;
        position: absolute;
        top: 30px;
        right: 40px;

        ul {
            width: 340px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            li {
                background-color: cornsilk;
                width: 80px;
                height: 100%;
                font-size: 14px;
                border-radius: 8px;
                text-align: center;
                margin-left: 8px;
                padding: 10px 2px;
                cursor: pointer;
                
                &#user-name {
                    cursor: default;
                }
    
                &:nth-of-type(2) span {
                    font-weight: bold;
                }
    
                &#mypageLi {
                    padding: 0;
                    // cursor: pointer;
                }
    
            }
        }
        #mypageBtn {
            background-color: cornsilk;
            width: 80px;
            height: 100%;
            font-size: 14px;
            border: 0;
            border-radius: 8px;
            text-align: center;
            margin-left: 8px;
            padding: 10px 2px;
            cursor: pointer;
        }

    }
}

/* 메인페이지 */
section {
    &#swiper {
        // background-color: #f8efed;
        width: 100%;
        max-width: 1200px;
        height: 480px;
        margin: 0 auto;
        padding: 40px;
        .swiper-container {
            text-align: center;
        }
    }
    &#product-list {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        border-radius: 0 0 6px 16px;
        
        div#pro_list {
            /* background-color: lightseagreen; */
            width: 100%;
            height: 500px;
            
            > ul {
                /* background-color: lightsteelblue; */
                width: 100%;
                height: 100%;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                
                > li {
                    // background-color: cornsilk;
                    width: 23%;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    
                    p {
                        text-align: center;
                        margin-top: 8px;
                        img {
                            width: 95%;
                            height: 120px;
                            border-radius: 16px;
                        }
                        &:nth-of-type(2) {
                            font-size: 14px;
                            font-weight: bold;
                        }
                        &:nth-of-type(3) {
                            // background-color: #eee;
                            // font-size: 16px;
                            // color: #666;
                            img {
                                width: auto;
                                height: 20px;
                            }
                        }
                        &:nth-of-type(4) {
                            // background-color: #ffbb7b;
                            width: 80%;
                            margin: 0 auto;
                            margin-top: 4px;
                            text-align: center;
                            line-height: 40px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    
        .btns {
            // background-color: cornsilk;
            margin-top: 50px;
            text-align: center;
            button {
                width: 80px;
                height: 60px;
                cursor: pointer;
            }
        }
    }
}

/* 로그인 */
section#login {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    #loginBtnDiv {
        background-color: lightblue;
        width: 400px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
    }
    #loginBtnDiv button {
        width: 100%;
        height: 100%;
    }
    #register {
        width: 400px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
    }
    button {
        cursor: pointer;
    }
}

/* 회원가입 페이지 */
section#register-wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    input {
        width: 300px;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
        /* text-align: center; */
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
}

/* 회원 상세보기 */
section#member-detail {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    .btns {
        margin: 0 auto;
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
}

/* 회원 정보 수정*/
section#member-edit {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    #updateBtn {
        display: block;
        // background-color: rebeccapurple;
        margin: 0 auto;
    }
}

/* 상품 등록하기 */
section#product-create {
    // background-color: tan;
    // width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 528px;
        margin: 0 auto;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    td:nth-child(1) {
        text-align: center;
    }
}

/* 상품 상세보기 */
section#product-view {
    // background-color: tan;
    // width: 80%;
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 50px 0;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 70%;
        margin: 0 auto;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    p { text-align: center;}
    #btns {
        width: 240px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #btns form {
        display: inline;
    }
    #basket {
        position: absolute;
        right: 200px;
    }
}

/* 상품 수정하기 */
section#product-edit {
    // background-color: tan;
    // width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 528px;
        margin: 0 auto;
    }
    table, td {
        border: 1px solid #ccc;
    }
    td {
        padding: 16px;
    }
    td:nth-child(1) {
        text-align: center;
    }
    #writer {
        cursor: not-allowed;
    }
}

/* 장바구니 */
section#basket {
    // background-color: tan;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    
    padding: 50px 0;
    table {
        // background-color: teal;
        width: 80%;
        height: 600px;
        margin: 0 auto;
        border-bottom: 1px solid #eee;
        // border-collapse: collapse;
        tr {
            // border: 1px solid #eee;
        }
        thead {
            // background-color: #ffbb7b;
            height: 40px;
            tr {
                th{
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    &:nth-child(1){
                        // background-color: antiquewhite;
                    }
                    &:nth-child(2){
                        // background-color: silver;
                        width: 70%;
                    }
                    &:nth-child(3){
                        // background-color: wheat;
                        width: 15%;
                    }

                }
            }
        }
        tbody {
            tr {
                // background-color: #ffbb7b;
                &:nth-child(odd) {
                    background-color: #eee;
                }
                &:last-child {
                    background-color: #ccc;
                    // height: 50px;
                }
                td {
                    text-align: center;
                    &:nth-child(1) {
                        // background-color: #ccc;
                        img {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
    .total {
        // background-color: #dfcef8;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}


/* footer */
footer {
    background-color: lavenderblush;
    padding: 20px;
    .inner_contents {
        div {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }
    }
}